header {
    background-color: #FFF;

    .in-header {
        padding: 22px 0;
        width: 100%;
        height: 20px;
        position: relative;

        #logo {
            height: 20px;
            width: 139px;
        }

        #closeMenu {
            display: none;
        }

        nav.menu {
            display: none;
            position: absolute;
            top: 88px;
            left: 0;
            padding: 32px 130px;
            background: #FFFFFF;
            border-radius: 4px;
            text-align: center;
            //* display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 21px);
            gap: 24px;
            
            a {
                color: $darkGrey;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: -0.138462px;
            }
        }

        #header-btn {
            display: none;
        }
    }
}



@media (min-width: 1440px) {
    header {

        .in-header {
            padding: 0;
            height: 80px;
            
            nav.menu {
                display: grid;
                position: static;
                padding: 0;
                grid-template-columns: repeat(5, auto);
                grid-template-rows: 1fr;
                gap: 30px;
                height: 80px;
            
                a {
                    color: $lightGrey;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.107692px;
                    position: relative;
                    padding-top: 32px;

                    &:hover::after {
                        content: "";
                        position: absolute;
                        background: $gradGreen;
                        height: 4px;
                        width: 100%;
                        bottom: 0;
                        right: 0;
                    }
                
                    &:hover {
                        color: $darkGrey;
                    }
                }
            }

            #toggle {
                display: none;
            }

            #header-btn {
                display: block;
            }
        }
    }
}